language: cpp
sudo: required
services: docker

git:
  depth: 3
  submodules: false

before_install:
  - docker build -t alfalfa-travis -f .travis.Dockerfile .

script:
  - docker run --privileged -ti alfalfa-travis:latest /home/user/alfalfa/.travis-check.sh

notifications:
  email: false
  webhooks:
    - https://snr.zulipchat.com/api/v1/external/travis?api_key=AtzK5F9kaHRKDQKNbD4ujZCTQTm91B5j&stream=analytics-notification&topic=build-status
